<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lulu.mybatis.mapper.EmpMapper">

    <resultMap id="emp" type="com.lulu.mybatis.bean.Emp">
        <id property="empId" column="emp_id"/>
        <result property="deptId" column="dept_id"/>
        <!--
           select: 设置分步查询的sql的唯一标识（namespace.SQLId或mapper接口的全类名.方法名）
           column：分步查询的条件
           fetchType: 当开启了全局的延迟记载后，可通过此属性手动控制延迟加载的效果
           fetchType："lazy/eager" lazy表示延迟加载，eager表示立即加载
        -->
        <association property="dept"
                     select="com.lulu.mybatis.mapper.DeptMapper.getDeptById"
                     column="dept_id"
                     fetchType="eager"/>
    </resultMap>

    <select id="getEmpById" resultMap="emp">
        select * from emp where emp_id = #{id}
    </select>

    <resultMap id="emp1" type="com.lulu.mybatis.bean.Emp">
        <id property="empId" column="emp_id"/>
        <result property="deptId" column="dept_id"/>
    </resultMap>

    <select id="getDeptAndEmpByIdStepTwo" resultMap="emp1">
        select * from emp where dept_id = #{id}
    </select>
</mapper>